body, html {
	font-family: 'Ariel', sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("https://previews.dropbox.com/p/thumb/AAT3Op-YiHLnlU-cG-NTJljsC1bh8KYHwPkOimS3ur-lE1DYPcOedKY-jxcQ7YnQemxmHMPn_JrKZq_zVF-KulvxaPkpiLifY4gbyQFTgaP3_VOTJI-z84WiuEhcZCAD6m_lyzbn8_1-iCjsg1WxolwaSNiOzUOo5wuTjLBYUtDd1JcA8aAipMkraxbXmwMFSmavQIpul2zJM1K5LFr6j266xWnM1_yxxFE644Y2IMYlxw/p.jpeg?size=1280x960&size_mode=3");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #222;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #116;
}