body, html {
	font-family: 'Ariel', sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("https://previews.dropbox.com/p/thumb/AAT3Op-YiHLnlU-cG-NTJljsC1bh8KYHwPkOimS3ur-lE1DYPcOedKY-jxcQ7YnQemxmHMPn_JrKZq_zVF-KulvxaPkpiLifY4gbyQFTgaP3_VOTJI-z84WiuEhcZCAD6m_lyzbn8_1-iCjsg1WxolwaSNiOzUOo5wuTjLBYUtDd1JcA8aAipMkraxbXmwMFSmavQIpul2zJM1K5LFr6j266xWnM1_yxxFE644Y2IMYlxw/p.jpeg?size=1280x960&size_mode=3");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #222;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #116;
	}
h1,h2 {
	margin: 0.5em;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	color: #27318b;
}
main a {
	color: #27318b;
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 1em;
	border: 1px dotted #27318b;
	clear: both;
}
figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 35%;
	border: 1px solid black;
}
figcaption {
	font-size: 90%;
}
img {
	width: 100%;
}
@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
}